/*
Colors:
    #fdfb81 - Laser Lemon
    #393136 - Black
*/

@font-face {
    font-family: 'Antonio';
    src: url(fonts/Antonio-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'AnonymousPro';
    src: url(fonts/AnonymousPro-Regular.ttf) format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    background-color: #393136;
    color: #fdfb81;
    scroll-behavior: smooth;
}

h1{
    font-family: Antonio, sans-serif;
    font-size: 78px;
    font-weight: bold;
}

h2 {
    font-family: Antonio, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-family: AnonymousPro, sans-serif;
    font-size: 16px;
    color: white;
}

.grid-container{
    display: grid;
    row-gap: 30px;
    grid-template-rows: 1fr 8fr 8fr 6fr 1fr;
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
}

.top-bar{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 75px;
}

#nav{
    position: relative;
    display: grid;
}

.dropbtn {
    background-color: #fdfb81;
    color: #393136;
    font-family: Antonio, sans-serif;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    font-family: AnonymousPro, sans-serif;
    display: none;
    position: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
}

.dropdown-content a:hover {
    background-color: rgba(57, 49, 54, 75%);
}

#nav:hover .dropbtn{
    background-color: #fdfb81;
}

#nav:hover .dropdown-content{
    display: grid;
}

#header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#header-image {
    display: block;
    margin-right: 30px;
    align-content: center;
    border: 3px solid #555;
}

#header h2{
    text-align: center;
    border-bottom: 2px solid #fdfb81;
    width: fit-content;
    margin: 0 auto;
}

#about{
    justify-content: center;
    align-content: center;
    text-align: center;
}

#about-header{
    margin-bottom: 10px;
    position: relative;
}

#about-header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fdfb81;
}

#about-text{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

#lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.title-text {
    font-family: AnonymousPro, sans-serif;
    font-size: 20px;
    color: white;
}

.duration-text {
    font-family: AnonymousPro, sans-serif;
    font-size: 12px;
    color: white;
}

.educations{
    display: grid;
    text-align: center;
    grid-template-rows: 75px repeat(4, 50px);
}

.edu-item {
    row-gap: 1px;
}

.jobs{
    display: grid;
    text-align: center;
    grid-template-rows: 75px repeat(4, 50px);
}

.projects {
    display: grid;
    text-align: center;
    grid-template-rows: 75px repeat(4, 50px);
}

#footer {
    text-align: center;
}